<div class="card-container-owner" data-controller="change-position" data-change-position-target="cards" >
  <% @restaurant.campaigns.order(created_at: :desc).select{ |campaign| campaign.active == true}.each do |campaign| %>
    <%= render "shared/campaign_card", campaign: campaign, grey: false  %>
  <% end %>
  <% @restaurant.campaigns.order(created_at: :desc).reject{ |campaign| campaign.active == true}.each do |campaign| %>
    <%= render "shared/campaign_card", campaign: campaign, grey: true %>
  <% end %>
</div>
