<div class="card-campaign">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-campaign-infos">
    <div class="tilte-date">
      <h1>Campagne 1</h1>
      <p class="date-text">Dates : 15/11/2022 - 24/12/2022</p>
    </div>
    <ul>
      <li class="ambassadors">
      <h2>Ambassadors</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum incidunt voluptate nesciunt ducimus deserunt, maxime deleniti accusamus sequi error aspernatur at iusto vero quia tenetur quas nihil rem molestias fugiat? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, nesciunt excepturi, praesentium, alias laudantium quisquam fugiat provident numquam possimus eos incidunt sit quaerat impedit molestiae nihil a reprehenderit dolorem veritatis!</p>
      </li>
      <li class="customers">
      <h2>New Customers</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, a quae minus reprehenderit doloribus soluta cum at totam omnis quaerat beatae iusto maxime laudantium, aperiam adipisci voluptas enim eaque necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia repellat distinctio sit reprehenderit eius quis magnam commodi, nobis, itaque iure autem laboriosam voluptatum tempore sed ipsa explicabo alias modi minima. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae molestias sunt molestiae, numquam dolorem harum veritatis fuga, accusantium illum voluptates similique inventore repellat. Voluptatibus ut consequatur voluptates repellendus, dolore sit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur temporibus illo deleniti assumenda laboriosam illum maiores dolorum, labore vero ut, odit magnam optio eveniet expedita laudantium et, inventore quod nulla?</p>
      </li>
    </ul>
    <a class="btn btn-flat card-campaign-user" href="#">join</a>
  </div>
</div>
