<div class="card-reward">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-reward-infos">
    <h1>Campagne 1</h1>
    <p class="date-text">Dates : 15/11/2022 - 24/12/2022</p>
    <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum incidunt voluptate nesciunt ducimus deserunt, maxime deleniti accusamus sequi error aspernatur at iusto vero quia tenetur quas nihil rem molestias fugiat? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, nesciunt excepturi, praesentium, alias laudantium quisquam fugiat provident numquam possimus eos incidunt sit quaerat impedit molestiae nihil a reprehenderit dolorem veritatis!</p>
    <a class="btn btn-flat card-campaign-user btn-reward" href="#">join</a>
  </div>
</div>
