<div class="card-new-event">
  <h1>Create new event</h1>

  <h2>Description:</h2>
  <textarea name="description" id="" cols="93%" rows="5"></textarea>
  <h2>Address:</h2>
  <input type="text" placeholder="address" style="width:100%">
  <h2>Date & Time</h2>
  <div class="time">
    <div class="time-grid" >
      <p>Date</p>
      <input type="date" name="date" style="width: 250px" >
    </div>
    <div class="time-grid" >
      <p>start time</p>
      <input type="time" name="date" style="width: 250px" >
    </div>
    <div class="time-grid" >
      <p>end time</p>
      <input type="time" name="date" style="width: 250px" >
    </div>
  </div>

  <h2>Photo</h2>
  <div class="photo">
    <div class="plus">+</div>
  </div>

  <button class="card-event-user text-white btn bg-dark mt-4 border-radius-1 w-100">Join</button>
</div>
