<div class="box-qr">
  <div class="box-qr-image">
    <i class="fa-solid fa-gift image-center"></i>
  </div>

  <div class="box-qr-text">
    <div class="box-qr-text-child">
      <p>3 recommandations sur 4 effectuées</p>
      <progress id="file" max="100" value="70"> 70% </progress>
    </div>
  </div>
</div>
