

  <div class="box-qr">
    <div class="box-qr-image">
      <i class="fa-solid fa-gift image-center"></i>
    </div>

    <div class="box-qr-text">
      <div class="box-qr-text-child">
        <h2>Récompense débloquée !</h2>
        <p>Clique ici pour obtenir ta récompense</p>
      </div>
    </div>
  </div>
