<div class="box-qr">
  <div class="box-qr-image">
    <i class="fa-solid fa-gift image-center"></i>
  </div>

  <div class="box-qr-text">
    <div class="box-qr-text-child">
      <p><%= count %> recommandations sur <%= threshold %> effectuées</p>
      <progress id="file" max="100" value="<%= (count.to_f / threshold.to_f) * 100 %>" ></progress>
    </div>
  </div>
</div>
