<div class="box-qr-success">
  <div class="box-qr-image">
    <i class="fa-solid fa-qrcode"></i>
  </div>
  <div class="box-qr-text">
    <div class="box-qr-text-child">
      <h2>Code promo débloqué !</h2>
      <p>Clique ici pour envoyer à tes amis</p>
    </div>
  </div>
</div>
