<div class="container-home">
  <div class="container-home-inline">
    <div class="container-home-img">
      <%= image_tag "Fond-ecran-v3.png" , class: "home-img"%>
    </div>
  <div class="container-home-text">
    <div class="container-home-text-child">
      <h1 class="container-home-h1">Transformez vos plus grands fans en une <span class="container-home-h1-bold">communauté d'ambassadeurs</span></h1>
      <p class="container-home-p">Notre solution pour renforcer l'impact de vos opérations marketing, booster votre notoriété et développer votre activité</p>
      <%= link_to new_user_registration_path do %>
        <div class="btn btn-flat btn-large font-home-page">S'inscrire</div>
      <% end %>
      </div>
    </div>
  </div>
</div>
