<div class="container-home">
  <div class="container-home-inline">
    <div class="container-home-img">
    </div>
  <div class="container-home-text">
    <div class="container-home-text-child">
      <h1 class="container-home-h1">Transformez vos plus grands fans en une <span class="container-home-h1-bold">communauté d'ambassadeurs</span></h1>
      <p class="container-home-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor</p>
      <%= link_to new_user_session_path do %>
        <div class="btn btn-flat btn-large">S'inscrire</div>
      <% end %>
      </div>
    </div>
  </div>
</div>
