<%# button %>
<div class="nav nav-tabs border-0 row mx-0 py-5" id="myTab" role="tablist">
  <div class="nav-item box-stats" role="presentation">
    <div class="active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
      <i class="fa-solid fa-circle circle-icon"></i>
      <div class="text-box-stats">Ambassadors</div>
    </div>
  </div>
  <div class="nav-item box-stats" role="presentation">
    <div class="" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
      <i class="fa-solid fa-circle circle-icon"></i>
      <div class="text-box-stats">Nouveaux clients</div>
    </div>
  </div>
  <div class="box-stats transparent-div"></div>
</div>
<%# content %>
<div class="tab-content pb-5" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row mx-0 w-100 justify-content-between">
      <div class= "box-stats">
        <div class="text-box-stats"><span class="stats-number">250</span><br> Ambassadors</div>
      </div>
      <div class= "box-stats">
        <div class="text-box-stats"><span class="stats-number">+ 35</span><br>vs mois précédent</div>
      </div>
      <div class= "box-stats">
        <div class="text-box-stats"><span class="stats-number">35%</span><br> actifs dans les campagnes</div>
      </div>
    </div>
    <div class="chart">
      <%= line_chart @ambassadors.group_by_month(:created_at).count %>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row w-100 justify-content-between">
      <div class= "box-stats">
        <div class="text-box-stats"><span class="stats-number">125</span><br> recommandations</div>
      </div>
      <div class= "box-stats">
        <div class="text-box-stats"><span class="stats-number">+ 10</span><br>vs mois précédent</div>
      </div>
      <div class= "box-stats">
        <div class="text-box-stats"><span class="stats-number">20 </span><br> recompenses distribuées aux ambassadeurs</div>
      </div>
    </div>
    <div class="chart">
      <%= line_chart @ambassadors.group_by_month(:created_at).count %>
    </div>
  </div>
</div>

<%#
py-5 ==> pt-5 + pb-5
px-5 ==> ps-5 + pe-5
p-5 ==> pt-5 + pb-5 + ps-5 + pe-5
pt-5
pb-5
ps-5
pe-5 %>
