<div class="restaurant-card-list">
  <% @restaurants.each do |restaurant| %>
  <div class="restaurant-card">
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </div>
  <% end %>
</div>
