.card-campaign {
  margin: 30px 0px 0 30px;
  overflow: hidden;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  .tilte-date{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-size: 24px;
  }

}

.card-ambassador{
  width: 925px !important;
}

.grey {
  opacity: 0.5;
}

.card-campaign>img {
  height: 213px;
  width: 100%;
  object-fit: cover;
}

.card-campaign h2 {
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: bold;
  margin: 0;
}

.card-campaign p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}


.card-campaign .card-campaign-infos {
  padding: 16px;
  position: relative;
  box-sizing: border-box;

  .ambassadors{
    width: 100%;
    p {
      height: 21px;
      overflow: hidden;
      text-overflow: "----";
    }
  }
  .customers{
    width: 80%;
    p{
      height: 28px;
      overflow: hidden;
      text-overflow: "----";
    }
  }

  .customers-owner {
    width: 95%;

    p {
      height: 28px;
      overflow: hidden;
      text-overflow: "----";
    }
  }

  ul{
    margin-left: 23px;
    padding: 0;
  }

  li {
    list-style: square;
    font-size: 30px;
  }
}

.card-campaign-infos .options{
  position: absolute;
  padding: 6px;
  bottom: 17px;
  right: 16px;
  background-color: lightgrey;
  border-radius: 50%;
  width: 40px;
  text-align: center;
}

.card-campaign-infos .card-event-user {
  position: absolute;
  right: 16px;
  top: 145px;
  width: 146px;
}

.card-new-event {
  padding: 30px;
  margin: 30px;
  overflow: hidden;
  width: 875px;
  height: 818px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  box-sizing: border-box;

  h2 {
    margin-top: 20px;
  }

  h1 {
    font-size: 24px;
  }

  .time{
    display: flex;
    justify-content: flex-start;
    height: 70px;
  }

  .time-grid{
    margin-right: 20px;
  }

  .photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 230px;
    background-color: grey;
    border-radius: 10px;
    position: relative;
  }

  .plus{
    font-size: 45px;
    text-align: center;
    width: 65px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-weight: bolder;
  }

  .duo-grid{
    display: flex;
    justify-content: space-between;
    height: 95px;
    margin-top: 7px;

    .duo-grid-element{
      width: 45%;
    }
  }

  h2{
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.card-reward{
  width: 346px;
  height: 453px;
  overflow: hidden;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  img {
    height: 213px;
    width: 100%;
    object-fit: cover;
  }

  .card-reward-infos{
    width: 100%;
    height: 240px;
    box-sizing: border-box;
    padding: 28px 11px;

    .description{
      height: 50px;
      overflow: hidden;
      text-overflow: "----";
    }

    p{
      padding-bottom: 0;
    }
  }
  h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  h1{
    margin-bottom: 16px;
    font-size: 24px;
  }
}

.date-text{
  font-style: italic;
}


.create-campaign-card {
  margin: 30px 30px 0 30px;
  padding: 20px 20px;
  overflow: hidden;
  max-width: 250px;
  height: 130px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align:center;
  position: sticky;
  top: 30px;

  h1 {
    font-size: 18px;
  }
}

.text-sticky-image {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

.restaurant-card-list {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restaurant-card {
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.restaurant-card-list a {
  text-decoration: none;
  color:white;
  margin: 30px;
}

.card-half {
  width: 500px;
  margin: 30px auto;
  flex-grow: 1;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 6px;
}

.in-line-div {
  display: flex;
}

.margin-left-3 {
  margin-right: 30px;
}

.middle-text {
  margin: auto;
  font-size: 25px;
  margin-top: 10px;
}
