.box-qr {
  background-color: #D2D2D2;
  width: 401px;
  height: 75px;
  border-radius: 8px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  margin: 10px 0px;

}

.box-qr-image {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 20px;
}

.box-qr-text {
  display: table;
}

.box-qr-text-child {
  display: table-cell;
  vertical-align: middle;
}

//A modifier avec Julien
.box-qr-text-child > h2 {
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-bottom: 0 !important;
}

.box-qr-text-child > p {
  font-size: 16px !important;
  margin-bottom: 0 !important;
}
//A modifier avec Julien
.box-qr-text-child {
  font-size: 0px !important;
}


.ambassadors > .btn-none {
  font-size: 100%;
  font-family: inherit;
  background-color: white;
  border: 0;
  padding: 0;
}

.display-text-decoration-none, .display-text-decoration-none:hover, .display-text-decoration-none:focus, .display-text-decoration-none:active {
  text-decoration: none !important;
  color: inherit;
}

progress {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 17px;
  border-radius: none !important;
  accent-color: coral;
}

::-webkit-progress-bar {
  background-color: white;
}

::-webkit-progress-value {
  background-color: #1C3879;
}
